/* 
text-color: #E4E4E4;
bg-primary-color: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%);
bg-secondary-color: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
accente-orange: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
accente-blue: #00C4F0;
 */
:root{
    --text-color: #E4E4E4;
    --bg-secondary-color: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%);
    --bg-primary-color: linear-gradient(130.68deg, #414141 0%, #2D2D2D 100.52%);
    --accente-orange: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
    --accente-blue: #00C4F0;
}
body{
    color: var(--text-color);
    background: var(--bg-primary-color);

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.01em;

}
.container{
    width: 1200px;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.no-marging{
    margin: 0;
}
/* BG */
.section.portfolio, .header, section.hello{
    background: var(--bg-secondary-color);
}

/* Titles */
.section-title{
    font-weight: 400;
    font-size: 48px;
    line-height: 1.125;
    align-items: center; 
}
.portfolio-title{
    color: white;
}
.hello-title{
    font-weight: 700;
    font-size: 72px;
    line-height: 1.14;

}
.portfolio-item-title{
    color: white;

    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.21;  
}

/* Text */
.portfolio-item-text{
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
}
/* Links */
.link{
    color:  inherit;
    text-decoration: none;
}
.portfolio-item-link{
    font-size: 18px;
    line-height: 21px;
    color: #E2A100;
}

/* Lists */
.list{
    list-style: none;

    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;    
}

/* Buttons */
.btn{
    box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
    background: var(--accente-orange);
}
.btn, .contact-button{
    display: inline-block;

    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 40px;
    padding-right: 40px;

    border: none;
    border-radius: 6px;

}
.portfolio-button{
    display: inline-block;
    padding: 12px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    display: inline-block;
    margin-right: 100px;
}
.nav-link{
    display: inline-block;
    padding-right: 145px;
}
.nav-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hello-flex{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.skils-flex{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.portfolio-flex{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.footer-flex{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.hero-flex-text{
    text-align: left;
    width: 500px;  
}
.hero-flex-foto{
    text-align: center;
    flex-grow: 2;
}